

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" >
        <div class="bradcumbContent">
            <h2>Downloads</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h3>Conteúdo em manutenção</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <h4>Downloads em breve</h4>
                        <p>O conteúdo para essa página será liberado futuramente, downloads como artigos, apostilas, slides etc.   <img src="/views/img/gif/emoji.png" height="40xp" width="40px"></p>
                </div>
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <img src="/views/img/gif/dow.gif" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Team Area Start ##### -->
    
    <!-- ##### Features Area Start ##### -->

 