

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(/views/img/bg-img/even2.png);">
        <div class="bradcumbContent">
            <h2>Informações</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h4>Algumas informações uteis sobre o Abel</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                   <h4>Simulados bimestrais</h4>
                   <p>No Abel temos simulados preparatórios para o estilo de prova do ENEM para preparar nossos alunos para as provas. Com os assuntos que são passados nas provas do ENEM nossos professores tiram seus conteúdos com base nas provas para melhor performance.</p>
                   <img src="/views/img/bg-img/simu.jpeg" alt="" width="500px" height="500px" style="border-radius: 40px;">
                </div>
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <h4>Horários</h4><p>Os nossos horários são bem estruturados pela nossa direção.<br>Baixe agora nossos horários de 2019</p>
        
                    <a href="Downloads/hora.zip" class="btn academy-btn btn-sm">Baixar horários vesp 2019</a>
                    <a href="Downloads/horam.zip" class="btn academy-btn btn-sm">Baixar horários matu 2019</a>
                    <br><br>   
                    <h4>Cronograma Enem 2019</h4>
                    <p>Dia 16 de Outubro: Divulgação do cartão de confirmação, com os locais de prova

                        Novembro:<br>
                        <br>Dia 3 : Aplicação das provas de Linguagens, Códigos e suas Tecnologias / Redação / Ciências Humanas e suas Tecnologias
                        
                        <br>Dia 10: Aplicação das Provas de Ciências da Natureza e suas Tecnologias / Matemática e suas Tecnologias
                        
                        <br>Dia 13: Publicação dos gabaritos e dos cadernos de questões
                        
                        <br>JANEIRO DE 2020
                        
                        <br>(Data a ser marcada): Saem os resultados individuais
                         Novidades para o Enem 2019:
                        
                         <br>- Novo sistema de inscrição;
                        
                         <br>- Inclusão de foto na inscrição (opcional);
                        
                         <br>- Espaço para rascunho da redação (pautado) e cálculos no final no caderno de questões;
                        
                         <br>- Todos os lanches serão revistados no dia da aplicação;
                        
                         <br>- Surdos, deficiente auditivos e surdo e cegos poderão indicar, durante a inscrição, o uso do aparelho auditivo ou de implante coclear.
                        
                         <br>- Eliminação do participante que deixar aparelhos eletrônicos emitirem qualquer tipo de som durante a prova.</p>
                        <a href="http://download.inep.gov.br/educacao_basica/enem/edital/2019/edital_enem_2019.pdf" class="btn academy-btn btn-sm">Link do edital Enem 2019</a>
                        <br><br>
                        <h5>Sigeduc </h5>
                        <p>Contamos também com o sistema do governo para obter suas notas anuais.</p>
                        <a href="https://sigeduc.rn.gov.br/sigeduc/verTelaLogin.do;jsessionid=FE17AD2F616B1999DF09A8C21EF52975.srv1inst1" class="btn academy-btn btn-sm">Acessar Sigeduc</a>
                </div>
            </div><br>
            <h3>Sobre o curso de informatica</h3>
            <h6>Esino médio técnico em informática</h6>
            <p>O Abel possui também um ensino médio técnico integrado, com nosso curso voltado para a área de programação com um laboratório equipado e com professores formados na área para que os alunos tenham o melhor aprendizado.</p>
        
                <div class="col-12">
                    <div class="about-slides owl-carousel mt-100 wow fadeInUp" data-wow-delay="600ms">
                        <img src="/views/img/bg-img/cur.jpg" alt="" style="border-radius: 40px;">
                        <img src="/views/img/bg-img/lobi.jpeg" alt="" style="border-radius: 40px;">
                        <img src="/views/img/bg-img/informatica2.jpeg" alt="" style="border-radius: 40px;">
                    </div>
                </div> 
        </div>
    </section>
