

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(/views/img/bg-img/bg-32.jpg);">
        <div class="bradcumbContent">
            <h2>Sobre o Ensino médio</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h4>Conheça mais +</h4><br>
                        <p>Escola Estadual Professor Abel Freio coelho, é uma das muitas escolas de ensino médio que já aderiu o sistema de novo ensino médio.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                   <h5>Funcionamento</h5> <p>A instituição funciona de segunda a sexta, nos turnos matutino, 
                       a partir das 07:00 até as 11:20, e no turno vespertino das 12:00 as 17:20. Com 06 aulas diárias, cada uma com duração de 40 minutos, 
                        aluno terá direito a 20 minutos nos intervalos e seu lanche as 15:40.</p> 
                        <h5>Modo de ensino</h5><p>A instituição consta com diversos professores e funcionários qualificados, para melhor o atender o aluno.</p>
                </div>
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <h5>Provas</h5><p>A instituição opta por aplicar suas provas por meio de simulados focando na melhor preparação do aluno para o Enem, para a assim o mesmo possa ir se adaptando a tal enxame.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="about-slides owl-carousel mt-100 wow fadeInUp" data-wow-delay="600ms">
                        <img src="/views/img/bg-img/bg-32.jpg" alt="" style="border-radius: 40px;">
                        <img src="/views/img/bg-img/bg-43.jpg" alt="" style="border-radius: 40px;">
                        
                    </div>
                </div>
            </div>


            
            <br><br>
            
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h4>Sobre a Educação Especial</h4><br>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                   <h5>O que é?</h5> <p>O AEE(Assistente Educacional Especializado) na escola é uma forma de inclusão social de pessoas portadoras de necessidades 
                    especiais. Todas as atividades feitas por este órgão são adaptadas de acordo com as
                    necessidades de cada aluno sempre buscando valorizar o que eles já conseguem fazer. 
                    O AEE sempre busca trazer o conhecimento para os seus alunos de formas adaptadas. 
                    </p> 
                </div>
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <h5>Funcionamento</h5><p>Uma forma comum que podemos ter como exemplo é a adaptação do conteúdo passado no
                        ensino médio normal em forma de imagens, vídeos e jogos lúdicos. Essas atividades 
                        são realizadas no contraturno em que o aluno estuda. Cinquenta minutos por dia 
                        1-2 vezes por semana.</p>  
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="about-slides owl-carousel mt-100 wow fadeInUp" data-wow-delay="600ms">
                        <img src="/views/img/bg-img/aee1.jpeg" alt="" style="border-radius: 40px;"> 
                        <img src="/views/img/bg-img/aee2.jpeg" alt="" style="border-radius: 40px;">
                        
                    </div>
                </div>
            </div>
            
           
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->
