

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Cadastro de Empréstimos
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/admin/item">Empréstimos</a></li>
        <li class="active">Cadastrar Empréstimo</li>
      </ol>
    </section>
    
    <!-- <iframe src="" id="frame_tomb" style="display: none;"></iframe>

        <div id="abrirModal" class="modalsb">
            <div class="modaldiv" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Título do modal</h5>
                    <a href="#fechar" class="close" title="Fechar" class="fechar" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    </div>
                    <div class="modal-body">

                        

                        <form role="form" action="/admin/item/cadastro/buscar" method="post">
                            <label for="titulo">Título</label><br>
                            <input type="text" class="form-control" style="width:100%;" name="titulo" placeholder="Digite o título">


                            </div>
                            <div class="modal-footer">
                                <div class="box-footer">
                                    <a href="/admin/cadastro/item" id="btn-sb"  class="btn btn-default">Voltar</a>
                                    <button type="submit" id="btn-sb" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                        </form>

                </div>
                </div>
            </div>
        </div> -->

   
    <!-- Main content -->
    {if="$veri == 1"}
        <script>abreModal('Aviso','yt');</script>
    {/if}
    <section class="content" >
    
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                <div class="box-header with-border">
                <h3 class="box-title">Novo Empréstimo</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
            <form role="form" action="/admin/cadastra/emprestimo/{$item.item_id}/{$aluno.leitor_id}" method="post">

                        <div class="box-body" >

                                <div class="campos_form">
                                    <div class="form-group">
                                        <label for="titulo">Foto</label><br>
                                        <img src="{$item.url_img}" style="width: 10%;"><br>
                                        <label for="titulo">Título</label><br>
                                        <p>{$item.titulo}</p>
                                        <label for="titulo">Código de Tombamento</label><br>
                                        <p>{$item.cod_tomb}</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="titulo">Nome do Aluno</label><br>
                                        <p>{$aluno.nome_leitor}</p>
                                        <label for="titulo">Matrícula</label><br>
                                        <p>{$aluno.matricula_leitor}</p>
                                        <label for="titulo">Turma</label><br>
                                        <p>{$aluno.turma}</p>
                                    </div>

                                </div>
                                
                                <div class="form-group">
                                <label for="data_devol">Data de Devolução</label>
                                <input type="text" class="form-control" id="data_devol" name="data_devol"  placeholder="Digite a data de devolução" required>
                                </div>
                                

                        </div>
                        <!-- /.box-body -->
                        
                        
                    </div>
                    </div>
                </div>

                <div class="box-footer">
                    <!-- <a href="/admin/emprestimo"><button type="button" id="btn-sb" class="btn btn-primary">Voltar</button></a> -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLive">Abrir modal de demonstração</button>
                    
                    
                    <button type="submit" id="btn-sb" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
    </section>
    
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    