

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Cadastro de Itens
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/admin/item">Itens</a></li>
        <li class="active">Cadastrar Item</li>
      </ol>
    </section>
    
    <iframe src="" id="frame_tomb" style="display: none;"></iframe>

   
    <!-- Main content -->
    <section class="content" >
    
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                <div class="box-header with-border">
                <h3 class="box-title">Novo Item</h3>
            </div>
                <!-- /.box-header -->
                <!-- form start -->

            {function="showMessage($setMsg.msg,$setMsg.tipo)"}
            
            <form role="form" action="/admin/cadastra/item" method="post">

                        <div class="box-body" >

                                <div class="campos_form">
                                    <div class="form-group">
                                    <label for="titulo">Título</label><br>
                                    <input type="text" class="form-control" id="nomr" name="titulo" placeholder="Digite o título" value="{$livros.titulo}" required>
                                    </div>
                                    <div class="form-group">
                                    <label for="cod_tomb">Código de Tombamento</label><br>
                                    <input type="value" class="form-control" id="cod_tomb" name="cod_tomb" placeholder="Digite o código" required>
                                    </div>
                                </div>
                                
                                <div class="campos_form">
                                    <div class="form-group">
                                    <label for="origem">Origem</label>
                                    <input type="text" class="form-control" id="origem" name="origem"  placeholder="Digite a origem" value="{$livros.origem}" required>
                                    </div>
                                    <div class="form-group">
                                    <label for="data_aq">Data Aquisição</label>
                                    <input type="date" class="form-control" id="data_aq" name="data_aq" placeholder="00/00/0000"  required >
                                    </div>
                                </div>

                                <div class="campos_form">
                                    <div class="form-group">
                                        <label for="autor">Autor</label>
                                        <input type="text" class="form-control" id="autor" name="autor" value="{$livros.autor}" placeholder="Digite o nome do autor" required>
                                        </div>
                                        <div class="form-group">
                                        <label for="editora">Editora</label>
                                        <input type="text" class="form-control" id="editora" name="editora" value="{$livros.editora}" placeholder="Digite o nome da editora" required>
                                        </div>
                                </div>

                                <div class="campos_form">
                                    <div class="form-group">
                                        <label for="data_publ">Data de Publicação</label>
                                        <input type="date" class="form-control" id="data_publ" name="data_publ"  value="{$livros.data_publ}" placeholder="Digite a datar" required>
                                        </div>
                                        <div class="form-group">
                                        <label for="foto">Foto</label>
                                        <input type="text" class="form-control" id="foto" name="foto" value="{$livros.foto}" placeholder="Adicione a URL de uma foto" required>
                                        </div>
                                </div>
                                <div class="form-group-text">
                                    <label for="descricao">Descrição</label>
                                    <textarea class="form-control" rows="5" id="descricao" name="descricao"  placeholder="Adicione a descrição do livro" style="resize: none">{$livros.descricao}</textarea>
                                </div>
                        </div>
                        <!-- /.box-body -->
                        
                    </div>
                    </div>
                </div>

                <div class="box-footer">
                    <a href="/admin/item"><button type="button" id="btn-sb" class="btn btn-primary">Voltar</button></a>
                    <button type="submit" id="btn-sb" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
    </section>
    
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->